section h2.section-heading {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid #fff;
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  p {
    margin-top: 0;
  }
}
